<footer class="footer_area" style="margin-top: 15px;">
    <div class="footer_widgets_area">
        <div class="container">
            <div class="f_widgets_inner row">
                <div class="col-lg-4 col-md-6">
                    <aside class="f_widget subscribe_widget">
                        <div class="f_w_title">
                            <h3>Our Newsletter</h3>
                        </div>
                        <p>Subscribe to our mailing list to get the updates to your email inbox.</p>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary submit_btn" type="button">Subscribe</button>
                            </span>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-4 col-md-6">
                    <aside class="f_widget categories_widget">
                        <div class="f_w_title">
                            <h3>Link Categories</h3>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>About</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-4 col-md-12">
                    <aside class="f_widget contact_widget">
                      <div class="f_w_title">
                          <h3>Contact Us</h3>
                      </div>
                        <h6> Md. Mehadi Hasan <br> 23rd batch, CSE department of SUST.<br><br>
                          email: mehadi541@gmail.com<br>
                          mobile no: 01796-777157
                        </h6>
                        <br><br>
                        <h6> Abdullah Aziz Sharfuddin Shakkhor <br> 23rd batch, CSE department of SUST.<br><br>
                          email: shakkhor@gmail.com<br>
                          mobile no: 01521-111304
                        </h6>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right_area">
        <div class="container">
            <center>
                <h5 style="color: #D1B7B1;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Metal-Dev, SUST CSE</h5>
            </center>
        </div>
    </div>
</footer>