<header class="main_menu_area">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/"><h3 style="color: white;"> Bridge Petrol Pump </h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Report
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: center;">
                          <a class="dropdown-item" href="/users/report">Inventory</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/users/report">Sale</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/users/aboutUs" target="_blank">About Us</a></li>
                    <% if(username.length > 0){ %>
                        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
                    <% } %>
                    <% if(username.length <= 0) { %>
                        <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
                    <% } %>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li><a href="#"><i class="icon_search"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>