<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>

    <div class="row">
        <div class="col-md-12">
            <!-- menu -->
            <div id="MainMenu">
                <div class="list-group panel">
                    <a href="#demo1" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Billing<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo1">
                        <a href="/" class="list-group-item">Quick bill</a>
                        <a href="/users/bill_for_vehicle" class="list-group-item">Bill for vehicle</a>
                        <a href="/" class="list-group-item">Find bills</a>
                    </div>
                    <a href="#demo2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Stock<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo2">
                        <a href="" class="list-group-item">View stock</a>
                        <a href="" class="list-group-item">Add stock</a>
                    </div>
                    <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Product<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo3">
                        <a href="/" class="list-group-item">View product</a>
                        <a href="/" class="list-group-item">Add product</a>
                    </div>
                    <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Vehicle<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo4">
                        <a href="" class="list-group-item">View vehicle</a>
                        <a href="" class="list-group-item">Add vehicle</a>
                    </div>
                    <a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Customer<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo5">
                        <a href="/" class="list-group-item">View customer</a>
                        <a href="/" class="list-group-item">Add customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn" onclick="openNav()" style="margin-top: -30px; margin-bottom: 20px;">☰ Click</button>
