<div id="mySidebar" class="sidebar">

    <div class="row">
        <div class="col-md-12">
            <div id="MainMenu">
                <div class="list-group panel">
                    <a href="#demo1" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Billing<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo1">
                        <a href="/users/quick_bill" class="list-group-item">Quick bill</a>
                        <a href="/users/bill_for_vehicle" class="list-group-item">Bill for vehicle</a>
                        <a href="/users/find_bills" class="list-group-item">Find bills</a>
                    </div>
                    <a href="#demo2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Stock<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo2">
                        <a href="/users/view_stock" class="list-group-item">View stock</a>
                        <a href="/users/add_stock" class="list-group-item">Add stock</a>
                    </div>
                    <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Product<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo3">
                        <a href="/users/view_products" class="list-group-item">View product</a>
                        <a href="/users/add_product" class="list-group-item">Add product</a>
                    </div>
                    <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Vehicle<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo4">
                        <a href="/users/view_vehicle" class="list-group-item">View vehicle</a>
                        <a href="/users/add_vehicle" class="list-group-item">Add vehicle</a>
                    </div>
                    <a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Customer<i class="fa fa-caret-down"></i></a>
                    <div class="collapse" id="demo5">
                        <a href="/users/view_customers" class="list-group-item">View customer</a>
                        <a href="/users/add_customer" class="list-group-item">Add customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

