<!doctype html>

<html lang="en">
    <head>
      <% include partials/head.ejs %>
    </head>
<body>

<div class="container-fluid">

            <!--== Navigation Bar Start  ==-->
        <% include partials/navbar.ejs %>
            <!-- == Error Messages == -->
        <% include partials/error_messages.ejs %>
            <!-- == Main body starts here == -->
    <center>
     <div class="col-sm-8" id="login_div" style="margin-top: -10px;" >
        <h3 class="page-header"><strong>Account Login</strong></h3><br>
        <form method="post" action="/users/login">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="btn btn-outline-success">Login</button>
        </form>
    </div>
    </center>
            <!--== Footer Area == -->
      <% include partials/footer.ejs %>

    </div>
            <!-- ## All Script files ## -->
      <% include partials/all_scripts.ejs %>

</body>
</html>
