<!doctype html>

<html lang="en">
    <head>
      <% include partials/head.ejs %>
    </head>
<body>

<div class="container-fluid">

<!-- ### Submenu nici: https://www.bootply.com/fe4AfcEnKD -->

            <!--== Navigation Bar Start  ==-->
        <% include partials/navbar.ejs %>
            <!-- == Error Messages == -->
        <% include partials/error_messages.ejs %>

            <!-- == Main body starts here == -->
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>

                <div class="row">
                    <div class="col-md-12">
                        <!-- menu -->
                        <div id="MainMenu" style="background-color: black;">
                            <div class="list-group panel">
                                <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 1</a>
                                <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 2</a>
                                <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 3  <i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="demo4">
                                    <a href="www.sust.edu" class="list-group-item">Subitem 1</a>
                                    <a href="" class="list-group-item">Subitem 2</a>
                                    <a href="" class="list-group-item">Subitem 3</a>
                                </div>
                                <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4  <i class="fa fa-caret-down"></i></a>
                                <div class="collapse" id="demo4">
                                    <a href="" class="list-group-item">Subitem 1</a>
                                    <a href="" class="list-group-item">Subitem 2</a>
                                    <a href="" class="list-group-item">Subitem 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
              <div class="col-sm-8" id="main">

                <button class="openbtn" onclick="openNav()">☰</button>  
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
                <h2>Collapsed Sidebar</h2>
                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>

              </div>

            <!--== Footer Area == -->
      <!-- <% include partials/footer.ejs %> -->

    </div>
            <!-- ## All Script files ## -->
      <% include partials/all_scripts.ejs %>

</body>
</html>
