<!doctype html>

<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>

    <div class="container-fluid">

        <!-- ### Submenu nici: https://www.bootply.com/fe4AfcEnKD -->

        <!--== Navigation Bar Start  ==-->
        <% include ../partials/navbar.ejs %>

        <!-- == Main body starts here == -->
        <% include ../partials/sidebar.ejs %>

        <div class="col-sm-6" style="margin-left: 260px;">
            <form method="POST" action="/vehicle/insertInDb">
                <center>
                    <h2>Add Vehicle</h2><br>
                    <div class="form-group col-sm-12">
                        <select name="company_name" class="form-control">
                            <% products.forEach(function (product) { %>
                            <option><%= product.get('name') %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-sm-12">
                            <input class="form-control" name="registration" type="value" placeholder="Registration No."
                                required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <select name="vehicle_type" class="form-control">
                            <option selected>Bus</option>
                            <option>Micro Bus</option>
                            <option>Mini Bus</option>
                            <option>Truck</option>
                            <option>Pick up</option>
                            <option>Car</option>
                            <option>Leguna</option>
                            <option>Zeep</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-sm-12">
                            <input class="form-control" name="color" type="value" placeholder="Color" required>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-sm-12">
                            <input class="form-control" name="driver" type="value" placeholder="Drive name" required>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-sm-12">
                            <input class="form-control" name="driver_no" type="value" placeholder="Driver Contact"
                                required>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <input class="btn" type="submit" value="Add Vechicle">
                    </div>

            </form>
            </center>
        </div>


    </div>
    <!-- ## All Script files ## -->
    <% include ../partials/all_scripts.ejs %>

</body>

</html>