<div id="sidedrawer" class="mui--no-user-select">
  <div id="sidedrawer-brand" class="mui--appbar-line-height">
    <span class="mui--text-title"><strong>BPP App</strong> </span>
  </div>
  <div class="mui-divider"></div>
  <ul style="font-size: 14pt;">
    <li>
      <strong>Billing</strong>
      <ul>
        <li><a href="/bill/quick_bill">Quick bill</a></li>
        <li><a href="/bill/bill_for_vehicle">Bill for vehicle</a></li>
        <li><a href="/bill/find_bills">Find bills</a></li>
      </ul>
    </li>
    <li>
      <strong>Stock</strong>
      <ul>
        <li><a href="/stock/view_stock">View stock</a></li>
        <li><a href="/stock/add_stock">Add stock</a></li>
      </ul>
    </li>
    <li>
      <strong>Product</strong>
      <ul>
        <li><a href="/product/view_products">View product</a></li>
        <li><a href="/product/add_product">Add product</a></li>
      </ul>
    </li>
    <li>
      <strong>Vehicle</strong>
      <ul>
        <li><a href="/vehicle/view_vehicle">View vehicle</a></li>
        <li><a href="/vehicle/add_vehicle">Add vehicle</a></li>
      </ul>
    </li>
    <li>
      <strong>Customer</strong>
      <ul>
        <li><a href="/customer/view_customers">View customer</a></li>
        <li><a href="/customer/add_customer">Add customer</a></li>
      </ul>
    </li>
  </ul>
</div>